extends ./tpl/layout

block pageVar
	-
		goods1 = [
			{
				title: 'CREAM JANE JEANS DRESS',
				desc: 'Signature NYX cosmetics',
				price: '€10.00',
				sale: false
			},
			{
				title: 'CREAM SISSI TUNIC',
				desc: 'Lightweight with just a hint of sheer color, this hydrating',
				price: '€20.00',
				sale: true
			},
			{
				title: 'Big doodle shawl - blue/black',
				desc: 'Lightweight with just a hint of sheer color, this hydrating',
				price: '€09.00',
				sale: false
			}
		];
	-
		goods2 = [
			{
				title: 'CREAM SISSI TUNIC',
				desc: 'Lightweight with just a hint of sheer color, this hydrating',
				price: '€20.00',
				sale: true
			},
			{
				title: 'big doodle shawl - blue/black',
				desc: 'Lightweight with just a hint of sheer color, this hydrating ',
				price: '€09.00',
				sale: false
			},
			{
				title: 'big doodle shawl - blue/black',
				desc: 'Lightweight with just a hint of sheer color, this hydrating ',
				price: '€09.00',
				sale: false
			}
		]
	-
		goods3 = [
			{
				title: 'CREAM SISSI TUNIC',
				desc: 'Lightweight with just a hint of sheer color, this hydrating',
				price: '€20.00',
				sale: true
			},
			{
				title: 'big doodle shawl - blue/black',
				desc: 'Lightweight with just a hint of sheer color, this hydrating ',
				price: '€09.00',
				sale: false
			},
			{
				title: 'big doodle shawl - blue/black',
				desc: 'Lightweight with just a hint of sheer color, this hydrating ',
				price: '€09.00',
				sale: false
			}
		]

block page
	section.section.section_main
		.main-slider.js-main-slider
			each val, index in ['zero', 'one', 'two', 'three']
				.main-slider__item
					.main-slider__bg(style="background-image: url(/img/slider.jpg)")
					.main-slider__wrapper
						.main-slider__content
							.container
								.row
									.col-10.col-sm-7.text-center
										.main-slider__title= 'Women\'s Apparel ' + val
										.main-slider__subtitle
											| T-Shirts, Dress Shirts, Tanks, Pants and More...
										a(href="#").btn.btn-red
											| Shop Women’s Apparel
		
		.main-menu
			.container
				nav.navbar.navbar-expand-lg.navbar-dark
					.navbar-logo
						img(src="./img/logo.png", alt="")
					a.navbar-brand(href='#') Styletour
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-menu', aria-controls='main-menu', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#main-menu.collapse.navbar-collapse
						ul.navbar-nav.mr-auto
							li.nav-item
								a.nav-link(href='#') Shop
							li.nav-item
								a.nav-link(href='#') Men
							li.nav-item
								a.nav-link(href='#') Women
							li.nav-item
								a.nav-link(href='#') Kids
							li.nav-item
								a.nav-link(href='#') Accessories
							li.nav-item
								a.nav-link(href='#') Sale
						form.form-inline.my-2.my-lg-0
							input.form-control(type='search', placeholder='Search', aria-label='Search')
							span.icon.icon-search
	
	section.section.section_tagline
		.container.text-center
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate
	section.section
		.main-content
			.container
				.row
					.col-12.col-md-3
						.sidebar
							.row
								.col-12.col-sm-6.col-md-12
									.widget
										h3 Popular Categories
										ul
											li
												a(href="#") Performance Collection
											li
												a(href="#") Pants
											li
												a(href="#") Woven Shirts
											li
												a(href="#") Earth-Friendly Apparel
											li
												a(href="#") Sweatshirts
											li
												a(href="#") Infants
											li
												a(href="#") Shorts
											li
												a(href="#") Adult Essentials
											li
												a(href="#") Show More
								.col-12.col-sm-6.col-md-12
									.widget
										h3 Popular Brands
										ul
											li
												a(href="#") Ashworth
											li
												a(href="#") Rabbit Skins
											li
												a(href="#") Izod
											li
												a(href="#") Authentic Pigment
											li
												a(href="#") Canvas
											li
												a(href="#") Apples & Oranges
											li
												a(href="#") OccuNomix
											li
												a(href="#") Ashworth
											li
												a(href="#") Show More
							.row
								.col-12.col-sm-6.col-md-12
									.sidebar__item
										.sidebar-slider.text-center.js-sidebar-slider
											each val, index in ['zero', 'one']
												.sidebar-slider__item
													.sidebar-slider__image
														img(src="./img/slide-sidebar" + (index + 1) + ".jpg", alt="")
													.sidebar-slider__wrapper
														.sidebar-slider__title
															| Fashion Colors For Women
														.sidebar-slider__text
															| Make every category of your webstore look special by setting different color schemes.
								.col-12.col-sm-6.col-md-12
									.sidebar__item
										.sidebar-banner.text-center
											img(src="./img/banner.jpg", alt="")
											.sidebar-banner__wrapper
												.sidebar-banner__text
													| introducing
													br
													span bombshell
													br
													| forver
												button.btn.btn-red Shop now
							.sidebar__item 
								.sidebar-about
									h3 About Store
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
									p.colored Ut enim ad minim veniam, quis nostrud exercitation. Aiusmod tempor incididunt ut labore et dolore magna aliqua
					.col-12.col-md-9.order-first.order-md-last
						.content
							.content__row
								h3 Items on Demand
								.row
									each val, index in goods1
										.col-12.col-md-4
											.product-card
												if (val.sale)
													.product-card__sale Sale
												.product-card__favorite
												.product-card__image
													.product-card__image-wrapper
														img(src="./img/goods"+ (index + 1) +".jpg", alt="")
												.product-card__title= val.title
												.product-card__desc= val.desc
												.product-card__buy
													.product-card__price= 'Price: ' + val.price
													.btn Add to cart
							.content__row
								h3 Featured Items
								.row
									each val, index in goods2
										.col-12.col-md-4
											.product-card
												if (val.sale)
													.product-card__sale Sale
												.product-card__favorite
												.product-card__image
													.product-card__image-wrapper
														img(src="./img/goods"+ (index + 4) +".jpg", alt="")
												.product-card__title= val.title
												.product-card__desc= val.desc
												.product-card__buy
													.product-card__price= 'Price: ' + val.price
													.btn Add to cart
							
							.content__row
								.row
									- for (var i = 1; i <= 3; i++)
										.col-12.col-md-4
											.content__banner
												a(href="#")
													img(src="./img/content-banner"+ i +".jpg", alt="")
							.content__row
								h3 Latest Arrivals
								.row
									each val, index in goods3
										.col-12.col-md-4
											.product-card
												if (val.sale)
													.product-card__sale Sale
												.product-card__favorite
												.product-card__image
													.product-card__image-wrapper
														img(src="./img/goods"+ (index + 7) +".jpg", alt="")
												.product-card__title= val.title
												.product-card__desc= val.desc
												.product-card__buy
													.product-card__price= 'Price: ' + val.price
													.btn Add to cart

	section.section
		.subscribe
			.container
				.row
					.col-12.col-md-4
						.subscribe__text
							h4 Get Discounts and Free Offers
							p Get free coupens, discounts and new arivals
					.col-12.col-md-8
						form.subscribe__form
							.form-row
								.col-12.col-md-4.col-lg-5
									input.form-control(type="text" placeholder="your full name")
								.col-12.col-md-4.col-lg-5
									input.form-control(type="text" placeholder="your email address")
								.col-12.col-md-4.col-lg-2
									.btn(type="submit") Subcribe
	section.section.section_white
		.container
			.brand-slider.js-brand-slider
				-
					brandSlides = [
						{
							file: './img/partner1.jpg',
							width: 112
						},
						{
							file: './img/partner2.jpg',
							width: 165
						},
						{
							file: './img/partner3.jpg',
							width: 271
						},
						{
							file: './img/partner4.jpg',
							width: 109
						},
						{
							file: './img/partner5.jpg',
							width: 104
						},
						{
							file: './img/partner6.jpg',
							width: 93
						}
					]
				each val, index in brandSlides
					.brand-slider__item(style="width: "+ val.width +"px;")
						a(href="#")
							img(src=val.file)

